@model TheWeb.Models.project

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>project</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.NameProject)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NameProject)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.deadlineToFinish)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.deadlineToFinish)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.local)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.local)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.AboutTheProject)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AboutTheProject)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.emailContact)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.emailContact)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
