@model TheWeb.Models.project

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>project</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NameProject)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NameProject)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.deadlineToFinish)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.deadlineToFinish)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.local)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.local)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AboutTheProject)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AboutTheProject)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.emailContact)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.emailContact)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.IDproject }) |
    @Html.ActionLink("Back to List", "Index")
</p>
